<!DOCTYPE html>
<html>
<%-include("../header"); %>

<body>
  <%-include("../navbar"); %>


  <div class="beatBox">
    <ul class="kick"> 
    </ul>
    <ul class="snare"></ul>
    <ul class="crash"></ul>
    <ul class="clap"></ul>
  </div>



  <script>

  </script>
  <%-include("../footer"); %>
</body>

</html>